#cal-text{
    color: #6A777C;
    font-size: 2.5rem;
    margin-top: 2rem;
    font-family: Times;
}
#cal-text span{
    color: white;
    font-size: 2.5rem;
}
#personImg{
    margin-top: 2.7rem;
    position: absolute;
}
.footer-slide{
    width: 20.5rem;
    height: 10.7rem;
    background-color: white;
    padding: 1rem;
    position: absolute;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    top: 26.8rem;
    left: -.5rem;
}
.next #ell{
    position: absolute;
    left: 17.7rem;
    top: 8.5rem;
}
.next #arr{
    position: absolute;
    left: 19.5rem;
    top: 10.5rem;
}